<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683214838134-1tmm5mk7ifl4458qkm8hc46vb08cm2he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683214838134-1tmm5mk7ifl4458qkm8hc46vb08cm2he</string>
	<key>API_KEY</key>
	<string>AIzaSyAtzmWG4TY4FpHGRqqWyqWVhWQorcjQJWo</string>
	<key>GCM_SENDER_ID</key>
	<string>683214838134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Black-Vual.MeTalk</string>
	<key>PROJECT_ID</key>
	<string>metalk-f132e</string>
	<key>STORAGE_BUCKET</key>
	<string>metalk-f132e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683214838134:ios:9566b162f6e09abe270257</string>
</dict>
</plist>